dialog{
    border: none;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.divButtons{
    display: flex;
    justify-content: space-between;
}

.container{
    margin-top: 50px;
}

textarea{
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}
